button {
  padding: 0;
}

ul,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1200px;
  }
}

.section-color {
  background-color: #FFB8CA;
}

.header-box {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-box {
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-box {
    margin-top: 37px;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-top: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin: 0;
  }
}

.logo__svg {
  width: 199px;
  height: 50px;
}

.header-menu__list {
  position: relative;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .header-menu__list {
    display: none;
  }
}

.header-menu__item:not(:last-child) {
  margin-right: 35px;
}

.header-menu__link {
  padding: 15px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #FFFFFF;
  transition-duration: 500ms;
}
.header-menu__link:hover, .header-menu__link:focus {
  color: #D41443;
}

.header__btn-close {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  border: 0;
  background-color: transparent;
  z-index: 1;
}

.header__btn-switcher--close {
  stroke: #fff;
}

.header__btn-open {
  position: absolute;
  display: block;
  top: 5%;
  right: 7%;
  border: 0;
  background-color: transparent;
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .header__btn-open {
    margin-right: 30px;
    top: 12%;
    right: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn-open {
    display: none;
  }
}

.header__btn-switcher--open {
  stroke: #D41443;
  width: 20px;
  height: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-mobil__list {
  padding: 0;
  margin-top: 20px;
}

.menu-mobil {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  min-width: 258px;
  overflow: hidden;
  background-color: #E17992;
  transition-duration: 500ms;
  z-index: 2;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .menu-mobil {
    width: 38vw;
  }
}

.menu-mobil.is-open {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100%;
  overflow: hidden;
  transition-duration: 500ms;
  transform: translateX(100%);
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0);
}
@media screen and (min-width: 1200px) {
  .menu-mobil.is-open {
    max-height: 664px;
  }
}

.menu-mobil__item {
  padding: 0;
}

.header__mobil-link {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  border-bottom: 1px solid #E18298;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  transition-duration: 500ms;
}
.header__mobil-link:hover, .header__mobil-link:focus {
  color: #D41443;
}
.header__mobil-link:last-child {
  border-top: 1px solid #E18298;
}

.header__btn {
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 62px;
  border-radius: 27px;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(345deg, 83%, 45%);
  transition-duration: 500ms;
}
.header__btn:hover {
  color: #D41443;
  background-color: #ECEBEB;
}

.header__btn-svg {
  stroke: #D41443;
  fill: #fff;
}
.header__btn-svg:hover, .header__btn-svg:focus {
  stroke: #D41443;
  fill: #ECEBEB;
}

.header__btn-text {
  margin-right: 15px;
}

.header__btn-outside {
  display: block;
  padding: 12px 37px;
  border-radius: 27px;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(345deg, 83%, 45%);
  transition-duration: 500ms;
}
.header__btn-outside:hover, .header__btn-outside:focus {
  color: #D41443;
  background-color: #ECEBEB;
}
@media screen and (max-width: 767px) {
  .header__btn-outside {
    display: none;
  }
}

picture,
img {
  display: block;
}

.hero {
  position: relative;
  height: 502px;
  background-color: #FFB8CA;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 416px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 664px;
  }
}
.hero::after {
  content: "";
  position: absolute;
  right: 8%;
  bottom: 0;
  width: 171px;
  height: 409px;
  background-image: url(/images/01hero_header/hero-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero::after {
    background-image: url(/images/01hero_header/hero-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero::after {
    width: 143px;
    height: 336px;
    right: 39%;
    background-image: url(/images/01hero_header/hero-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero::after {
    background-image: url(/images/01hero_header/hero-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero::after {
    background-image: url(/images/01hero_header/hero-pc.png);
    width: 236px;
    height: 557px;
    right: 27%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero::after {
    background-image: url(/images/01hero_header/hero-pc@2x.png);
  }
}
.hero::before {
  content: "";
  position: absolute;
  right: -19%;
  bottom: 16%;
  width: 345px;
  height: 345px;
  background-image: url(/images/01hero_header/ellipse-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero::before {
    background-image: url(/images/01hero_header/ellipse-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero::before {
    width: 335px;
    height: 335px;
    right: 24%;
    bottom: 9%;
    background-image: url(/images/01hero_header/ellipse-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero::before {
    background-image: url(/images/01hero_header/ellipse-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero::before {
    width: 534px;
    height: 534px;
    right: 13%;
    bottom: 12%;
    background-image: url(/images/01hero_header/ellipse-pc.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero::before {
    background-image: url(/images/01hero_header/ellipse-pc@2x.png);
  }
}

.hero-title {
  font-family: "Titan One";
  flex-direction: column;
  position: relative;
  margin-top: 136px;
  max-width: 218px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero-title {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 38px;
    line-height: 1.16;
    margin-top: 60px;
    max-width: 280px;
  }
}

.hero-title__size {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .hero-title__size {
    font-size: 34px;
    line-height: 90.5%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title__size {
    font-size: 58px;
    line-height: 90.5%;
  }
}

.hero__btn-list {
  display: flex;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__btn-list {
    margin-top: 24px;
  }
}

.hero-btn__item {
  z-index: 1;
}
.hero-btn__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .hero-btn__item:not(:last-child) {
    margin-right: 12px;
  }
}

.hero__btn-link {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.13;
  color: #fff;
  background-color: #D41443;
  transition-duration: 500ms;
}
@media screen and (min-width: 1200px) {
  .hero__btn-link {
    padding: 11px 21px;
    font-size: 14px;
    line-height: 1.13;
  }
}
.hero__btn-link:hover, .hero__btn-link:focus {
  background-color: #ECEBEB;
  color: #D41443;
}

.hero__btn-link--second {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  background-color: #fff;
  color: #D41443;
  transition-duration: 500ms;
}
@media screen and (min-width: 1200px) {
  .hero__btn-link--second {
    padding: 11px 21px;
    font-size: 14px;
    line-height: 18px;
  }
}
.hero__btn-link--second:hover, .hero__btn-link--second:focus {
  background-color: #ECEBEB;
  color: #D41443;
}

.hero-box {
  margin-top: 61px;
  margin-left: 162px;
  max-width: 114px;
}
@media screen and (max-width: 767px) {
  .hero-box {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-box {
    margin-top: 106px;
    margin-left: 230px;
    max-width: 200px;
  }
}

.hero-box__text {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  z-index: 1;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero-box__text {
    font-size: 14px;
    line-height: 140%;
  }
}

.hero-box__btn {
  margin-top: 7px;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .hero-box__btn {
    margin-top: 19px;
    width: 26px;
    height: 26px;
  }
}

.hero-box__svg {
  fill: #D41443;
  margin-bottom: 3px;
}

.hero-thumb__left {
  position: absolute;
  bottom: 6%;
  left: 5%;
}
@media screen and (max-width: 767px) {
  .hero-thumb__left {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-thumb__left {
    bottom: 8%;
    left: 2%;
  }
}

.hero-thumb__right {
  position: absolute;
  bottom: 0;
  right: 4%;
}
@media screen and (max-width: 767px) {
  .hero-thumb__right {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-thumb__right {
    right: 2%;
  }
}

.numbers-box {
  position: absolute;
  top: 24%;
  right: 4%;
  width: 40px;
}
@media screen and (max-width: 767px) {
  .numbers-box {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .numbers-box {
    top: 23%;
    right: 4%;
  }
}

.numbers-box__number {
  position: absolute;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .numbers-box__number {
    font-size: 46px;
    line-height: 53px;
  }
}

.numbers-box__radius {
  position: absolute;
  top: -5px;
  right: -1px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .numbers-box__radius {
    width: 30px;
    height: 30px;
    right: -78%;
  }
}

.numbers-box__text {
  position: absolute;
  bottom: -40px;
  right: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .numbers-box__text {
    font-size: 14px;
    line-height: 18px;
    bottom: -71px;
    right: -11px;
  }
}

.numbers-box--second {
  position: absolute;
  top: 38%;
  right: 4%;
  width: 40px;
}
@media screen and (max-width: 767px) {
  .numbers-box--second {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .numbers-box--second {
    right: 4%;
    top: 244px;
  }
}

.numbers-box__number--second {
  position: absolute;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .numbers-box__number--second {
    font-size: 46px;
    line-height: 53px;
  }
}

.numbers-box__text--second {
  position: absolute;
  bottom: -40px;
  right: 1px;
  width: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .numbers-box__text--second {
    width: 75px;
    font-size: 14px;
    line-height: 18px;
    bottom: -71px;
    right: -21px;
  }
}

.numbers-box__radius--second {
  position: absolute;
  top: -5px;
  right: -1px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .numbers-box__radius--second {
    width: 30px;
    height: 30px;
    right: -78%;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 121, 146, 0.4);
  opacity: 1;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) {
  .modal {
    max-width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 520px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #FFA5BA;
  background-color: #FFA5BA;
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #fff;
}
.modal__btn:hover .modal__btn--img {
  cursor: pointer;
  stroke: #FFA5BA;
}

.modal__btn--img {
  width: 15px;
  height: 15px;
  stroke: #fff;
}

.form {
  padding: 40px 10px;
}
@media screen and (min-width: 320px) {
  .form {
    padding: 40px 20px;
  }
}
@media screen and (min-width: 768px) {
  .form {
    padding: 40px 40px;
  }
}

.form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #D41443;
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.form__label:hover .form__name {
  color: #D41443;
}
.form__label:hover .form__input {
  border: 1px solid #FFA5BA;
}
.form__label:focus .form__name {
  color: #D41443;
}
.form__label:focus .form__input {
  border: 1px solid #FFA5BA;
}

.form__name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #FFA5BA;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 10px 40px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__label:focus-within .form__input {
  border: 1px solid #FFA5BA;
}

.form__btn {
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 62px;
  border-radius: 27px;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: hsl(345deg, 83%, 45%);
  color: #fff;
  transition-duration: 500ms;
}
.form__btn:hover, .form__btn:focus {
  color: #D41443;
  background-color: #ECEBEB;
}/*# sourceMappingURL=main.css.map */