button {
    padding: 0;
}

ul,
p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

li {list-style: none;
}
a {text-decoration: none;
}
.section {
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (min-width: 768px) {
        padding-right: 32px;
        padding-left: 32px;
    }
    @media screen and (min-width: 1200px) {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.header-box {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
        justify-content: space-between;
        align-items: center;        
    }
    @media screen and (min-width: 1200px) {
        margin-top: 37px;
    }
}

.logo {
    display: block;
    margin-top: 8px;
    @media screen and (min-width:768px) {
        margin-top: 0;
        margin-right: auto;
        
    }
}

.logo__svg {
    width: 199px;
    height: 50px;    
}


.header__btn-close {
    position: absolute;
    display: block;

    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
    border: 0;
    background-color: transparent;

    z-index: 1;
}

.header__btn-switcher--close {
   stroke: #fff;
}

.header__btn-open {
    position: absolute;
    display: block;
        
    top: 25px;
    right: 20px;
    border: 0;
    background-color: transparent;
    width: 14px;
    height: 14px;

    @media screen and (min-width: 768px) {
        margin-right: 30px;
        top: 50px;
        right: 194px;        
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.header__btn-switcher--open {
    stroke: #D41443;
    width: 14px;
    height: 14px;
    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-mobil__list {
    padding: 0;
    margin-top: 20px;
}

.menu-mobil {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    overflow: hidden;

    background-color: #E17992;
    transition-duration: 500ms;
    z-index: 2;
    box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0.25));
    @media screen and (min-width:768px) {
        width: 254px;
        
    }

}

.menu-mobil.is-open {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
    overflow: hidden;
    transition-duration: 500ms;
    transform: translateX(100%);
    box-shadow: (-8px 0px 20px rgba(0, 0, 0, 0));

    @media screen and (min-width: 768px) {
        max-height: 416px;
        
    }

    @media screen and (min-width: 1200px) {
        max-height: 664px;
        
    }
}


.menu-mobil__item {
    padding: 0;
}

.header__mobil-link {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    border-bottom: 1px solid #E18298;
   
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #fff;

    &:hover,
    &:focus {
        color: #D41443;
    }

    &:last-child {
        border-top: 1px solid #E18298;

    }
}

.header__btn {
    display: block;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 62px;
    border-radius: 27px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    background-color: hsl(0deg 0% 100%);
    color: hsl(345deg 83% 45%);
    transition-duration: 500ms;
    
    &:hover,
    &:focus {
        color: #D41443;
        background-color: #ECEBEB;
    }
}

.header__btn-svg {
    stroke: #D41443;
    fill: #fff;

    &:hover,
    &:focus {
        stroke: #D41443;
        fill: #ECEBEB;

    }
}

.header__btn-text {
    margin-right: 15px;
}


.header__btn-outside {
    display: block;

    padding: 12px 37px;
    border-radius: 27px;
    border: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    background-color: hsl(0deg 0% 100%);
    color: hsl(345deg 83% 45%);
    transition-duration: 500ms;

    &:hover,
    &:focus {
        color: #D41443;
        background-color: #ECEBEB;
    }

    @media screen and (max-width: 767px) {
        display: none;
        
    }
}