
picture,
img {
    display: block;
}

.hero {
    position: relative;
    height: 502px;
    background-color: #FFB8CA;
    overflow-x: hidden;

    @media screen and (min-width: 768px) {
        height: 416px;
    }

    @media screen and (min-width: 1200px) {
        height: 664px;
    }

    &::after {
        content: "";
        position: absolute;
        right: 8%;
        bottom: 0;
        width: 171px;
        height: 409px;
        background-image: url(/images/01hero_header/hero-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 767px) {
        
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/01hero_header/hero-mobile@2x.png);
                }
            }

        @media screen and (min-width: 768px) {
            width: 143px;
            height: 336px;
            right: 39%;
            background-image: url(/images/01hero_header/hero-tablet.png);

            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/01hero_header/hero-tablet@2x.png);
                }

        }

          @media screen and (min-width: 1200px) {
            background-image: url(/images/01hero_header/hero-pc.png);
            width: 236px;
            height: 557px;
            right: 27%;

            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/01hero_header/hero-pc@2x.png);
                }
         }           
    }



    &::before {
        content: "";
        position: absolute;
        right: -19%;
        bottom: 16%;
        width: 345px;
        height: 345px;
        background-image: url(/images/01hero_header/ellipse-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        

        @media screen and (max-width: 767px) {
        
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/01hero_header/ellipse-mobile@2x.png);
                }
            }


        @media screen and (min-width: 768px) {
            width: 335px;
            height: 335px;
            right: 24%;
            bottom: 9%;
            background-image: url(/images/01hero_header/ellipse-tablet.png);

            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/01hero_header/ellipse-tablet@2x.png);
                }

        }

        @media screen and (min-width: 1200px) {
            width: 534px;
            height: 534px;
            right: 13%;
            bottom: 12%;
            background-image: url(/images/01hero_header/ellipse-pc.png);
            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/01hero_header/ellipse-pc@2x.png);
                }

        }


}
}


.hero-title {
    font-family: 'Titan One';
    flex-direction: column;
    position: relative;
    margin-top: 136px;
    max-width: 218px;
    

    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;

    z-index: 1;

    @media screen and (min-width: 768px) {
        margin-top: 20px;
        font-size: 22px;
        line-height: 1.14;
    }

    @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: 1.16;
        margin-top: 60px;
        max-width: 280px;
    }

}
.hero-title__size {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96.5%;
    text-transform: uppercase;
    color: #D41443;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 90.5%;

    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 90.5%;
    }
}

.hero__btn-list {
    display: flex;
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
        margin-top: 24px;

        }
}

.hero-btn__item{
    z-index: 1;
    &:not(:last-child) {
        margin-right: 8px;
        
        @media screen and (min-width: 1200px) {
            margin-right: 12px;
        }
    }
}

.hero__btn-link {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.13;
    color: #fff;
    background-color: #D41443;
    transition-duration: 500ms;

    @media screen and (min-width: 1200px) {
        padding: 11px 21px;
        font-size: 14px;
        line-height: 1.13;
    }

    &:hover,
    &:focus {
        background-color: #ECEBEB;
        color: #D41443;
    }
}

.hero__btn-link--second {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    background-color: #fff;
    color: #D41443;
    transition-duration: 500ms;

    @media screen and (min-width: 1200px) {
        padding: 11px 21px;
        font-size: 14px;
        line-height: 18px;

    }

    &:hover,
    &:focus {
        background-color: #ECEBEB;
        color: #D41443;
    }
}




.hero-box {
    margin-top: 61px;
    margin-left: 162px;
    max-width: 114px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 106px;
        margin-left: 230px;
        max-width: 200px;

    }
}

.hero-box__text {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    z-index: 1;

    color: #FFFFFF;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 140%;
    }

}

.hero-box__btn {
    margin-top: 7px;
    width: 18px;
    height: 18px;
    border: 0;
    border-radius: 50%;

    @media screen and (min-width: 1200px) {
        margin-top: 19px;
        width: 26px;
        height: 26px;

    }
}

.hero-box__svg {
    fill: #D41443;
    margin-bottom: 3px;
}

.hero-thumb__left {
    position: absolute;
    bottom: 6%;
    left: 5%;

    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (min-width: 1200px) {
        bottom: 8%;
        left: 2%;
    }
}


.hero-thumb__right {
    position: absolute;
    bottom: 0;
    right: 4%;


    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (min-width: 1200px) {
        right: 2%;
    }
}


.numbers-box {
    position: absolute;
    top: 24%;
    right: 4%;
    width: 40px;

    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (min-width: 1200px) {
        top: 23%;
        right: 4%;
     
    }

}

.numbers-box__number {
    position: absolute;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443; 
    z-index: 1;

    @media screen and (min-width: 1200px) {
            font-size: 46px;
            line-height: 53px;
        }
 
}


.numbers-box__radius {
    position: absolute;
    top: -5px;
    right: -1px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;

    @media screen and (min-width: 1200px) {
            width: 30px;
            height: 30px;
            right: -78%;
        }

}

.numbers-box__text {
    position: absolute;
    bottom: -40px;
    right: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;;
    
    color: #FFFFFF;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 18px;
        bottom: -71px;
        right: -11px

    }
}



.numbers-box--second {
    position: absolute;
    top: 38%;
    right: 4%;
    width: 40px;

    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (min-width: 1200px) {
        right: 4%;
        top: 244px;
    }
}

.numbers-box__number--second {
        position: absolute;
            font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 1.14;
        
            text-align: right;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #D41443;
            z-index: 1;
            @media screen and (min-width: 1200px) {
                    font-size: 46px;
                    line-height: 53px;
                }

}

.numbers-box__text--second {
        position: absolute;
            bottom: -40px;
            right: 1px;
            width: 45px;
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 1.25;
            ;
        
            color: #FFFFFF;
        
            @media screen and (min-width: 1200px) {
                width: 75px;
                font-size: 14px;
                line-height: 18px;
                bottom: -71px;
                right: -21px
            }

}

.numbers-box__radius--second {
        position: absolute;
            top: -5px;
            right: -1px;
            display: block;
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 50%;
        
            @media screen and (min-width: 1200px) {
                width: 30px;
                height: 30px;
                right: -78%;
            }

}